doctype html
html
  head
    meta(http-equiv='content-type', content='text/html;charset=UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    //- 手機: 去撥號鏈結
    meta(name='format-detection' content='telephone=no')
    title= title
    
    //- link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript',src='/assets/vendors.js')
  body
    block content